<form action="/ideas/{{idea._id}}?_method=PUT&_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      id="title"
      value="{{idea.title}}"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      name="description"
      id="description"
      rows="6"
    >
    {{idea.description}}
    </textarea>
  </div>

  <select class="form-select mb-4" name="status">
    <option>Status</option>
    <option value="public" 
      {{ compareValues 'public' idea.status }}
    >Public</option>
    <option value="private" {{ compareValues idea.status 'private'}}>Private</option>
  </select>

  <label for="category" class="form-label">Category</label>
   <select class="form-select mb-4" name="category" id="category">
    {{#each categories}}
      <option value="{{category}}" {{ compareValues ../idea.category.categoryName category}}>{{category}}</option>
    {{/each}}
  </select>

  <div class="mb-3">
    <label for="idea_img" class="form-label">Idea featured image</label>
    <input name="idea_img" class="form-control" type="file" id="idea_img">
  </div>

  <div class="mb-3">
    <label for="tags" class="form-label">Tags</label>
    <input type="text" name="tags" class="form-control" id="tags" data-role="tagsinput" 
      {{#if idea.tags}}
      value="{{idea.tags}}"
      {{/if}}
    />
  </div>

  <div class="mb-3 form-check">
    <input
      type="checkbox"
      name="allowComments"
      class="form-check-input"
      id="allowComments"
      {{#if idea.allowComments}}
      checked
      {{/if}}
    />
    <label class="form-check-label" for="allowComments">Allow comments</label>
  </div>

  <button disabled style="display: none;" type="submit">Update Idea</button>
  <button type="submit" class="btn btn-primary">Update Idea</button>
</form>