<form action="/ideas" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="title"
      {{#if idea.title}}
      value="{{idea.title}}"
      {{/if}}
     />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      name="description"
      id="description"
      rows="6"
    >
      {{#if idea.description}}
      {{idea.description}}
      {{/if}}
    </textarea>
  </div>

  <select class="form-select mb-4" name="status">
    <option selected>Status</option>
    <option value="public" {{#if idea.status}} {{ compareValues 'public' idea.status }} {{/if}}>Public</option>
    <option value="private" {{#if idea.status}} {{ compareValues 'private' idea.status }} {{/if}}>Private</option>
  </select>

  <div class="mb-3">
    <label for="tags" class="form-label">Tags</label>
    <input type="text" name="tags" class="form-control" id="tags" data-role="tagsinput" 
      {{#if idea.tags}}
      value="{{idea.tags}}"
      {{/if}}
    />
  </div>

  <div class="mb-3 form-check">
    <input
      type="checkbox"
      name="allowComments"
      class="form-check-input"
      id="allowComments"
      {{#if idea.allowComments}}
      checked
      {{/if}}
    />
    <label class="form-check-label" for="allowComments">Allow comments</label>
  </div>

  <button disabled style="display: none;" type="submit">Add Idea</button>
  <button class="btn btn-primary" type="submit">Add Idea</button>
</form>