{{! Idea card start }}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-8">
      {{! <img src="..." class="img-fluid rounded-start" alt="..."> }}
      <div class="card-body">

        <h5 class="card-title">{{idea.title}}</h5>
        <div class="card-text mb-0">{{{idea.description}}} </div>

        <div class="like-comment mb-2" data-idea="{{idea._id}}">
          <span id="like" class="d-inline-block me-2" style="cursor: pointer;">
            <i class="fa-solid fa-thumbs-up"></i><span class="like-count"></span>
          </span>

          <span class="d-inline-block" style="cursor: pointer;">
            <i class="fa-solid fa-comment"></i><span class="comment-count"></span>
          </span>
        </div>

        <div class="tag mb-3">
          <label for="tags">Tags: </label>
          {{#each idea.tags}}
            <a
              href="/"
              style="text-decoration: none;"
              class="badge bg-primary"
            >{{this}}</a>
          {{/each}}
        </div>

        {{#if loggedInUser}}
          <div style="display: {{compareOwner idea.user._id loggedInUserId}}">
            <a
              href="/ideas/{{idea._id}}/edit"
              class="btn btn-primary float-start me-3"
            >Edit</a>

            <form action="/ideas/{{idea._id}}?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-4 text-end d-flex align-items-center">
      <div class="card-body">
        
        <p>Written By <a href="/users/{{idea.user._id}}/ideas"><strong>{{idea.user.firstName}}</strong></a></p>
      </div>
    </div>
  </div>

  <div class="card-footer text-end">
    <small class="text-muted">Last updated
      {{moment idea.updatedAt "MM-DD-YYYY"}}
      ago</small>
  </div>
</div>
{{! Idea card ended }}

{{! Comment Section Start }}
{{#if loggedInUser}}
  {{#if idea.allowComments}}
    <div class="card mb-1">
      <a href="/ideas/{{idea._id}}/comments/new" class="btn btn-info">Add a
        Comment</a>
    </div>
  {{else}}
    <div class="card mb-1">
      <div class="card-body">
        <div class="card-text text-center text-muted">Comments are not allowed
        </div>
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="card mb-1">
    <div class="card-body">
      <div class="card-text text-center">Please login to add a comment</div>
    </div>
  </div>
{{/if}}
{{! Comment Section End }}

{{! Loop all Comments }}
{{#each idea.comments}}
  <div class="card mb-1">
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="comment-text">
        <blockquote class="blockquote mb-2">
        <p>{{title}}</p>

        <footer class="blockquote-footer">{{text}}
          {{! <cite title="Source Title">Source Title</cite> }}
        </footer>
      </blockquote>

      {{#if ../loggedInUser}}
        <div style="display: {{compareOwner user._id ../loggedInUserId}}">
            {{!-- <a href="/ideas/{{../idea._id}}/comments/{{_id}}/edit" class="btn btn-primary float-start me-3">Edit</a>
          --}}

          <form action="/ideas/{{../idea._id}}/comments/{{_id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      {{/if}}
      </div>
      <div class="owner-info">
        <div class="name">
          {{user.firstName}} {{user.lastName}}
        </div>
        <div class="date">
          {{formatDate createdAt 'dd/MM/yy'}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="card">
    <div class="card-body">
      <div class="card-text text-center text-muted">No comments to show </div>
    </div>
  </div>
{{/each}}