<div class="row">
    <div class="col-md-4">
        {{> _dashboard-panel-left}}
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover caption-top">
            <caption>List of your Ideas</caption>
            <thead class="table-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each ideas}}
                    <tr>
                        <th scope="row">{{incrementedIndex @index}}</th>
                        <td>{{title}}</td>
                        <td> {{formatDate createdAt 'dd-MMM-yy'}}</td>
                        <td>{{status}}</td>
                        <td><a href="/ideas/{{_id}}/edit"><i class="fa-solid fa-pen"></i></a></td>
                        <td>
                            <form action="/ideas/{{_id}}?_method=DELETE" method="POST">
                                <button class="btn"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>